* {
  font-family:'PT Sans', sans-serif;
}
#viz {
  margin:auto;;width:80vw;
}
.tabs {
  border: 0.5px solid rgba(57,57,57,0.3) !important
}
.tabs li:first-child {
  border-right: 0.5px solid rgba(57,57,57,0.3);
}
.tabs li {
  width: 50%;
  text-align: center;
}
.tabs-title a{font-size: 14px;}
.tabs-title:hover {
  text-decoration: underline;
}
.tabs a:focus {
  background-color: rgba(0,0,0,0) !important;
  text-decoration: underline !important;
}
.checkbox {
  display:inline-block;
}
#loading * {
  display: inline-block;
}

/*validatorScatter*/
#validatorScatter {
  text-align: left;
}
.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
#variableBar .y .tick {
  display:none;
}
table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
  border: 1px black solid;
  padding: 5px;
}
